@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}

/* START: Hero styles */
.hero {
  @apply flex justify-center items-center relative z-0 max-w-[1440px] h-screen mx-auto;
}

.hero__title {
  @apply xl:text-4xl sm:text-[48px] text-[36px] max-2xl:leading-tight font-extrabold text-center;
}

.hero__title span {
  @apply xl:mt-7 xl:mb-8 mt-2 mb-5
}

.hero__subtitle {
  @apply text-lg xl:text-xl text-gray-100 font-semibold text-center;
}

.hero__subtitle-small {
  @apply text-base text-gray-100 font-normal mt-5 mb-10 xl:mt-[38px] xl:mb-11 text-center;
}

.hero__image{
  @apply mt-7
}

.hero__email-cta{
 @apply fixed bottom-6 m-auto left-0 right-0 z-50 bg-green rounded-full w-[70px] h-[70px] flex justify-center items-center
}

/* END: Hero styles */

/* START: Footer styles */
.footer__copyrights-link {
  @apply flex-1 flex flex-col sm:flex-row sm:justify-end justify-center max-sm:text-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

/* START: Custom styles */

.custom-btn {
  @apply cursor-pointer
}

img {
  @apply object-contain
}

/* END: Custom styles */